.logo{
  width: 100px;
  height: 65px;
}
.nav-menu{
  font-size: larger;
  margin: auto;
  flex-grow: 0;
}
.service-card-image{
  width: 100px;
}
.service-card{
  margin: auto;
  width: 25%;
  align-items: center;
}
.service-cards{
  display: flex;

}
.card-body{
  margin-right: 4vw;
  margin-left: 4vw;
}